* {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
    color: white;
    border-radius: 3px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

body {
    background: #111;
    margin: 0;
    padding: 0;
}



button:focus {
    outline: 0;
}

#studio-wrap {
    width: 825px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 20px;
    /*box-shadow: rgb(0, 0, 0) 0.838276px 0.838276px 0px, rgb(0, 0, 0) 1.83828px 1.83828px 0px, rgb(0, 0, 0) 2.83828px 2.83828px 0px, rgb(0, 0, 0) 3.83828px 3.83828px 0px, rgb(0, 0, 0) 4.83828px 4.83828px 0px, rgb(0, 0, 0) 5.83828px 5.83828px 0px, rgb(0, 0, 0) 6.83828px 6.83828px 0px, rgb(0, 0, 0) 7.83828px 7.83828px 0px, rgb(0, 0, 0) 8.83828px 8.83828px 0px, rgb(0, 0, 0) 9.83828px 9.83828px 0px, rgb(0, 0, 0) 10.8383px 10.8383px 0px;*/
}

#studio {
    background: rgba(255, 48, 83, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 48, 83, 1) 0%, rgba(143, 35, 53, 1) 39%, rgba(20, 20, 20, 1) 82%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 48, 83, 1)), color-stop(39%, rgba(143, 35, 53, 1)), color-stop(82%, rgba(20, 20, 20, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 48, 83, 1) 0%, rgba(143, 35, 53, 1) 39%, rgba(20, 20, 20, 1) 82%);
    background: -o-linear-gradient(-45deg, rgba(255, 48, 83, 1) 0%, rgba(143, 35, 53, 1) 39%, rgba(20, 20, 20, 1) 82%);
    background: -ms-linear-gradient(-45deg, rgba(255, 48, 83, 1) 0%, rgba(143, 35, 53, 1) 39%, rgba(20, 20, 20, 1) 82%);
    background: linear-gradient(135deg, rgba(255, 48, 83, 1) 0%, rgba(143, 35, 53, 1) 39%, rgba(20, 20, 20, 1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3053', endColorstr='#141414', GradientType=1);
    height: 545px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
}

#helper {

    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 10px;
    height: 200px;
    background: #212121;

}

/* Title spans */
.title {
    font-size: 30px;
    margin: 30px;
    top: 15px;
    padding: 10px;
    position: relative;
}

/* Description type text */
.desc {
    display: block;
    margin: 30px;
    margin-top: 15px;
    padding: 10px;
}



#title {
    font-size: 30px;
}

#canvas {
    right: 25px;
    float: right;
    position: relative;
    display: block;
    top: 25px;
    background: black;
    transition: all .25s;
}

#canvas:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}

#control-panel {
    position: absolute;
    height: 500px;
    width: 250px;
    top: 25px;
    left: 25px;
    background: #111;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    transition: all .25s;
}

#control-panel:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}


#painting-title {
    width: 200px;
    height: 40px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: #f2f2f2;
}

#palette-chooser {
    color: black;
    width: 230px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.palette-option {
    color: black;
    cursor: pointer;
}

#palette {
    position: absolute;
    height: 300px;
    width: 230px;
    top: 60px;
    left: 10px;
    background: #232323;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.color-option {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .1s;
}

.color-option:hover {
    transform: scale(1.08);
}

.color-option:active {
    transform: scale(0.95);
}

#login-page {
    width: 95%;
    max-width: 550px;
    height: 700px;
    border-radius: 0px;
    background: rgb(32, 32, 32);
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

h1{
    font-size: 20px;
    margin: 0px;
    font-weight: 100;
    margin-bottom: 5px;
}

h2{
    font-size: 16px;
    margin: 0px;
    font-weight: 100;
    margin-bottom: 10px;
}

#index-about{
    width: 80%;
    padding: 1.5%;
    background: rgba(128, 128, 128, 0.246);
    margin: 0 auto;
    display: block;
}

#username{
    margin-top: 50px !important; 
}

.input-field {
    color: black;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    padding: 1.5%;
    font-size: 20px;
    text-align: center;
    top: -30px;
    position: relative;
}

#logo-header {
    margin: 0 auto;
    display: block;
    width: 40%;
}


.btn {
    width: 48%;
    border: none;
    height: 48px;
    color: black;
    background: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
    padding: 1.5%;
}

.btn:disabled {
    background: #3d3d3d;
    color: rgb(209, 209, 209);
}

#sign {
    float: right;
}

#button-wrapper {
    top: -15px;
    width: 83%;
    display: block;
    position: relative;
    margin: 0 auto;
}

#connected-message {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 209px;
}

#connected-status {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: rgb(252, 203, 45);
    display: inline-block;
    top: 8px;
    margin-left: 5px;
    position: relative;
    transition: all .5s;
}

#header {
    position: relative;
    width: 100%;

    border-radius: 0px 0px 0px 10px;
    height: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8479+0,ff4476+100 */
    background: rgb(255, 40, 69);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


#logged-in-box {
    width: 150px;
    height: 80px;
    background: rgba(17, 17, 17, 0.445);
    position: absolute;
    right: 10px;
    top: 10px;
}

#username-header {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* #logout{
    display: block;
    position: absolute;
    top: 55px;
    text-align: right;
    left: 10px;
    text-decoration: none;
} */

#wallet-display {
    display: block;
    position: absolute;
    top: 35px;
    right: 10px;
}

#profile-image {
    height: 60px;
    border-radius: 100px;
    position: absolute;
    right: 5px;
    top: 10px;
}


#header-logo {
    height: 120px;
    top: -10px;
    position: relative;
    left: 10px;
}

#header-options {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 150px;
    height: 100%;
    display: inline-block;
}

.header-option {
    display: inline-block;
    height: 100%;
    width: 32%;
    text-decoration: none;
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    color: black;
    border-radius: 0px;
}

.header-option:hover {
    background: rgba(0, 0, 0, 0.205);
}

#wrap {
    height: 95vh;
    min-height: 700px;
    width: 90%;
    max-width: 900px;
    min-width: 650px;
    background: rgb(32, 32, 32);
    border-radius: 3px;
    margin: 0 auto;
}


::-webkit-scrollbar {
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 3px;
}

#big-profile{
    width: 80%;
    height: 200px;
    background: #ff2845;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    border-radius: 5px;
   
}

#username-title{
    font-size: 4em;
    top: 50px;
    margin-left: 40px;
    position: relative;
    
}